/*
Error: Undefined variable: "$collections-collection-panel".
        on line 16 of scss/_collections-page.scss

11: .landingpage h4 {
12:   padding: 0;
13: }
14: 
15: .panel-footer.collections {
16:   background-color: $collections-collection-panel;
17:   a {
18:     &:link, &:visited {
19:       color: $colletions-link-color;
20:     }
21:     &:hover, &:active {

Backtrace:
scss/_collections-page.scss:16
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/script/tree/node.rb:50:in `perform'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:378:in `visit_prop'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:414:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:161:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:151:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/exec/sass_scss.rb:375:in `run'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/exec/sass_scss.rb:62:in `process_result'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/exec/base.rb:40:in `parse'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/../lib/sass/exec/base.rb:19:in `parse!'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.2/bin/sass:13
/usr/bin/sass:23:in `load'
/usr/bin/sass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$collections-collection-panel\".\A         on line 16 of scss/_collections-page.scss\A \A 11: .landingpage h4 {\A 12:   padding: 0;\A 13: }\A 14: \A 15: .panel-footer.collections {\A 16:   background-color: $collections-collection-panel;\A 17:   a {\A 18:     &:link, &:visited {\A 19:       color: $colletions-link-color;\A 20:     }\A 21:     &:hover, &:active {"; }
