/**
 * @FILE: Themes the front page and components: promoted image, promoted image info-box, frontpage info-panel;
 *
 * All variables are in _default_variables.scss.
 */

// Frontpage Panel
.frontpage-panel {
  background: $front-pg-panel-bg;
  opacity: $front-pg-opacity;
  border-radius: $front-pg-border-radius;
  font-family: $font-family-sans-serif;
  color: $front-pg-text-color;
  line-height: 1.4em;
  margin-top: 1.5em;
  padding: 25px 25px !important;
  // Search box
  input#edit-islandora-simple-search-query {
    height: 41px;
  }
  .form-type-textfield {
    margin-right: 5px;
  }
  .btn, .btn:active, .btn:visited, .btn:hover, .btn:focus {
    padding: 8.5px 12px;
  }
  // Links
  a {
    margin: 0;
    &:link, &:visited {
      color: $front-pg-link-color;
    }
    &:hover, &:active {
      color: $front-pg-link-hover-color;
    }
  }
  h1 {
    margin: 0;
    // letter-spacing: 0.5pt;
    font-family: $font-family-serif;
  }
  p {
    margin: 0;
  }
  ul.links {
    padding: 0;
    margin-bottom: 0;
    li {
      display: inline;
    }
  }
  // IDs
  #about-main, #frontpage-menu-mobile, #about-mobile, #edit-simple {
    padding: 0;
    margin-top: 20px;
  }
  #frontpage-menu-mobile, #about-mobile {
    display: none;
  }
  // small screens
  @media (min-width: $screen-xs) {
    margin-top: 4em;

    #edit-simple {
      display: flex;
    }
    .form-type-textfield {
      margin-bottom: 0;
    }
  }
  // large screens
  @media (min-width: $screen-md) {
    .form-inline .form-control {
      width: 100%;
    }
  }
}

// Frontpage footer
.front-footer {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  // short or small screens {
  @media (max-height: $screen-xs), (max-width: $screen-xs) {
    position: relative;
    bottom: 0;
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
}

// Frontpage Featured
#block-views-featured-block {
  background: $front-pg-panel-bg;
  opacity: $front-pg-opacity;
  border-radius: $front-pg-border-radius;
  max-width: 300px;
  float: right;
  padding: 10px 15px;
  color: $front-pg-text-color;
  a {
    display: inline-block;
    line-height: 1.75em;
    &:link, &:visited {
      color: $front-pg-link-color;
    }
    &:hover, &:active {
      color: $front-pg-link-hover-color;
    }
  }
}
