/**
 * @FILE: Responsible for theming Islandora components.;
 *
 * All variables are in _default_variables.scss.
 */


h2.block-title {
  font-size: ($font-size-h3 * 0.7);
}

// Video JS
.vjs-default-skin, .vjs-big-play-button, .video-js {
    z-index: 1;
}

// Social media.
.socialmedia {
  display: block;
  margin: 20px 0;
  a {
    margin-right: 10px;
  }
}

// Breadcrumbs
.breadcrumb {
  margin-bottom: 15px;
  a {
    text-decoration: none !important;
  }
}

// Download links
#dl-links {
  margin-bottom: 10px;
}

// Permalink
.permalink {
  clear: left;
  margin-top: 25px;
  .permalink-wrapper {
    display: inline;
  }
  .permalink-input {
    margin-right: 3px;
  }
  label {
    display: inline;
    margin-right: 10px;
  }
}

// Overriding theme styles.
.islandora-openseadragon {
  width: 85% !important;
}

// Override solr styles. -BR 2016/3/11
.form-item.form-type-textfield.form-item-date-filter-date-filter-from {
  display: inline-block;
  margin: 1em 0;
}

.form-item.form-type-textfield.form-item-date-filter-date-filter-to {
  display: inline-block;
  margin: 1em 0;
}


// Newspaper issue.
.islandora-newspaper-issue-navigator {
  display: block;
  margin-bottom: 10px;
}

.islandora-newspaper-object {
  margin-top: 0 !important;
}

// Solr Blocks

// Metadata
.islandora-metadata p {
  margin: 0;
}


// Facets.
#islandora-solr-advanced-terms {
  margin-bottom: 15px;
  > div {
    margin-bottom: 15px;
    > div { // how deep can this rabbit hole go?
      display: inline-block; // some would ask if there were easier ways. the answer is yes. ;)
     }
  }
}

#block-islandora-solr-display-switch {
  display: inline-block;
  float: right;
  font-weight: normal;
  font-size: 140%;
  ul {
    list-style: none outside none;
    margin-bottom: 0;
    padding-inline-start: unset;
  }
  li {
    display: inline;
    border: $front-pg-panel-bg 1px;
    // @note: enable this to swap colors on the active button
    // .btn.active {
    //   background-color: $front-pg-text-color;
    //   color: $front-pg-panel-bg;
    // }
    & a {
      padding: 6px 10px;
      text-decoration: none;
      background-color: $front-pg-panel-bg;
      color: $front-pg-text-color;
      &:hover { 
        color: blue; // place holder @TODO
      }
    }
  }
}

#block-bc-islandora-solr-sort-select {
  display: inline-block;
  float: right;
  margin-right: 1em;
}

#islandora-solr-top {
  text-align: center;
  margin-top: 3em;
}

.islandora-solr-content {
  .pagination {
    margin: unset;
  }
}

.islandora-solr-facet-wrapper {
  padding-bottom: 15px;
  border-bottom: 1px solid #333333;
}

.islandora-solr-facet-wrapper:last-child {
  border-bottom: unset;
}

.block ul.islandora-solr-facet {
  padding: 0px;
  list-style: none;
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: $link-hover-decoration;
    }
  }
}

.islandora-solr-facet li {
  margin-top: 15px;
}


// Solr Faceting
h3.facet-heading {
  margin: 0;
  padding-top: 15px;
}

.facet-heading {
  a {
    font-size: ($font-size-h3 * 0.7);
    text-decoration: unset !important;
  }
  .facet-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\2212";
    float: right;
    color: grey;
    font-size: $collection-facets-glyphico-size;
    margin-top: ($collection-facets-text-size - $collection-facets-glyphico-size);
  }
  .facet-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\002b";
    font-size: $collection-facets-glyphico-size;
    margin-top: ($collection-facets-text-size - $collection-facets-glyphico-size);
  }
}

// Islandora Solr Metadata
#islandora-metadata-legend:after {
    font-family: 'Glyphicons Halflings';
    font-size: 1rem;
    color: #333333;
    content: "\2212";
    display: inline-block;
    margin-left: 10px;
    
}

#islandora-metadata-legend.collapsed:after {
    content: "\002b";
}


// Manuscript
#manuscript-viewer {
    width: 100%;
    display: table;
    margin-bottom: 10px;
    #manuscript-viewer-transcript-pane {
        float: left;
        overflow: scroll;
        margin-right: 20px;
        max-height: 500px;
        font-size: 12px;
        .manuscript-transcript-page {
            display: none;
            .active {
                display: block;
            }
            pre {
                font-size: 1.4em;
            }
        }
    }
    #manuscript-viewer-osd-pane {
        float: left;
        width: 90%;
    }
}

// Newspaper and yearbook landing pages.
@mixin landing-page {
  .inactive,
  &.inactive {
    display: none;
  }
  .active,
  &.active {
    display: block;
  }
  ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
  }
  li {
    display: inline-block;
    margin: 0 10px 10px 0;
  }
}

#block-bc-islandora-bc-islandora-newspaper {
  width: 100%;
  margin: 0 auto;
}

#return-to-page {
  margin-bottom: 5px;
}

.bulletin-calendar {
  @include landing-page;
}

.yearbook-calendar {
  @include landing-page;
}

#book-page-viewer {
  margin-top: 10px;
}

// Yearbook landing page.
#yearbook-nav {
  span.year {
    margin: 0 10px 10px 0;
  }
  .decade {
    margin-left: 50px;
    margin-bottom: 25px;
  }
}

// Student publications.
.islandora-basic-collection.student-pubs .islandora-basic-collection-object {
  margin-left: 0;
}

/*# sourceMappingURL=_islandora.scss.map */
